{
  "machine": { "gpu": 1, "vram": 0, "cpu": 8000, "ram": 16000 },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": { "Concurrency": 1 },
      "Docker": {
        "WorkingDirectory": "/app",
        "Entrypoint": [
          "/app/src/run_model", {{ .input }}
        ],
        "Image": "devlinrocha/deepscaler-1.5b@sha256:81b4c324e4bf8e1bd24d621cecf1281e3bab706c9a217fddcab0f16c55cf5f18"
      },
      "Engine": "Docker",
      "Network": { "Type": "None" },
      "Outputs": [{ "Name": "outputs", "Path": "/outputs" }],
      "Resources": { "GPU": "1", "CPU": "8", "Memory": "16Gb" },
      "Timeout": 1800,
      "Verifier": "Noop"
    }
  }
}
